@use './vars';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  font-family: "Space Grotesk", system-ui, -apple-system, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: vars.$font-size-xs;
  color: white;

  background-color: vars.$color-black;

  @media (min-width: vars.$breakpoint-s) {
    font-size: vars.$font-size-s;
  }

  @media (min-width: vars.$breakpoint-m) {
    font-size: vars.$font-size-m;
  }

  @media (min-width: vars.$breakpoint-l) {
    font-size: vars.$font-size-l;
  }

  @media (min-width: vars.$breakpoint-xl) {
    font-size: vars.$font-size-xl;
  }

  @media (min-width: vars.$breakpoint-2xl) {
    font-size: vars.$font-size-2xl;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

a,
a:visited,
a:active,
a:link {
  color: inherit;
}

.container {
  flex-grow: 1;

  width: max(90%, min(#{vars.$breakpoint-l}, 100%));
  height: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
}

.form {
  width: max(50%, min(#{vars.$breakpoint-m}, 100%));
  margin: 0 auto;

  &__group {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    border: none;

    transition: opacity .2s;

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &__control {
    padding: .5rem;

    outline: none;
    background: none;
    border: .1rem solid white;
    border-radius: .5rem;

    color: white;
    font-size: .8rem;
    font-family: "Space Grotesk", system-ui, -apple-system, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    &::placeholder {
      color: white;
      opacity: .6;
      text-transform: none;
    }
  }

  &__error {
    font-size: .6rem;
    color: red;
  }

  &__submit {
    padding: .5rem 2rem;

    border-radius: .5rem;

    background: none;
    border: .2rem solid white;

    font-size: 1rem;
    font-weight: 700;
    color: white;

    outline: none;

    cursor: pointer;

    opacity: .7;
    transition: opacity .2s;

    &.filled {
      background-color: white;
    }

    &:hover {
      opacity: 1;
    }

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}