$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1400px;
$breakpoint-2xl: 2000px;

$font-size-xs: 6px;
$font-size-s: 8px;
$font-size-m: 10px;
$font-size-l: 14px;
$font-size-xl: 18px;
$font-size-2xl: 22px;

$color-black: #2a2b2e;
$color-gray: #5a5a66;
$color-swamp: #a4c2a8;
$color-grass: #aceb98;
$color-green: #87ff65;
$color-sky: #1be7ff;
$color-red: #ff4242;
$color-black-opacity: #00000033;
$color-success: #2fff81;
$color-success-background: #2fff8133;
$color-error: #a00000;
$color-error-background: #a0000033;
$color-warning: #ff8a15;
$color-warning-background: #ff8a1533;
$color-info: #9e9e9e;
$color-info-background: #9e9e9e33;
$color-hint: #0092cc;
$color-hint-background: #0092cc33;